<!--
  Skulls pattern from http://subtlepatterns.com/skulls/
-->

<template name="layout">
  <div id="wrap" class="{{#if currentUser}}navbar-padding{{/if}}">

    <!-- the navbar -->
    {{#if currentUser}}
    <div id="navbarTop" class="navbar navbar-fixed-top">
      <div class="container">
        {{> navbar}}
      </div>
    </div>
    {{/if}}

    <!-- the alerts -->
    <div id="alertCont">
    </div>

    <!-- main content -->
    <div id="mainCont">
      {{> yield}}
    </div>

  </div>
  
  <!-- footer -->
  <div id="footer">
    {{> footer}}
  </div>
</template>