<template name="layout">

  <!-- the navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      {{> navbar}}
    </div>
  </div>

  <!-- the alerts -->
  <div id="alertCont">
  </div>

  <!-- main content -->
  <div id="main">
    <div class="container">
      <div id="contentCont" class="col-sm-9">
        {{> yield}}
      </div>
      {{#if currentUser}}
        <div id="chatListCont" class="col-sm-3">
          {{> chatlist}}
        </div>
      {{else}}
        <div id="loginCont" class="col-sm-3">
          {{> login}}
        </div>
      {{/if}}
    </div>
  </div>
</template>