<template name="login">
	<style>
		#login .modal-dialog {
			width: 300px;
		}

		#login .modal-body {
			padding: 20px;
		}

		#login .modal-footer {
			margin-top: 0px;
		}

		#signupLinkCont, #loginLinkCont {
			margin-top: 15px;
		}
	</style>
	<form id="loginOrSignup">
  	<!-- login form -->
    <div id="loginForm">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
			    <label for="email">Email or username</label>
			    <input type="text" class="form-control loginInput" id="usercreds" name="usercreds" placeholder="Enter email or username">
			  </div>
			  <div class="form-group">
			    <label for="userpassword">Password</label>
			    <input type="password" class="form-control loginInput" id="userpassword" name="userpassword" placeholder="Password">
			  </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="submitType" value="login" class="btn btn-primary">Login</button>
        <div id="signupLinkCont">
        	<a href="#" onclick="return false;" id="signupLink">Don't have an account yet? Signup now!</a>
      	</div>
      </div>
    </div>

    <!-- signup form -->
    <div id="signupForm" class="hide">
      <div class="modal-header">
        <h4 class="modal-title">Signup</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" class="form-control signupInput" id="email" name="email" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input type="username" class="form-control signupInput" id="username" name="username" placeholder="Enter username">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control signupInput" id="password" name="password" placeholder="Password">
			  </div>
			  <div class="form-group">
			    <label for="password-confirmation">Password (again, duh)</label>
			    <input type="password" class="form-control signupInput" id="password-confirmation" name="password-confirmation" placeholder="Password confirmation">
			  </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="submitType" value="signup" class="btn btn-primary">Signup</button>
      </div>
      <div id="loginLinkCont">
        	<a href="#" onclick="return false;" id="loginLink">Back to login</a>
      	</div>
    </div>
	</form>
</template>