<template name="home">
	{{#if currentUser}}
		<div id="dashboardCont" class="container">
			<div id="chatHistoryCont" class="col-sm-9">
				<h4>
					<span class="title">Recent chat history</span>&nbsp;
					{{#if hasUnreadChats}}
					<a id="readAllChats" href="#">(read all chats)</a>
					{{/if}}
					<span class="newchat">
						{{#if hasChatHistory}}
							<a id="newChat" href="/chat">New chat</a>
						{{/if}}
					</span>
				</h4>
				{{> recentchat}}
			</div>
			<div id="myProfileCont" class="col-sm-3">
				{{> myprofile}}
			</div>
		</div>
	{{else}}
	<div id="welcomeCont" class="container">
		<!-- for the welcome front page -->
		<div id="sloganCont">
			<h1><span>LousyChat</span>, the lousiest chat service EVER!</h1>
			<h2>It's so lousy it has nothing to do <br/> with the background of this page.</h2>
		</div>
		<div id="loginCont">
			{{> login}}
		</div>
	</div>
	{{/if}}
</template>