<template name="recentchat">
	<ul id="recentChatsCont">
	{{#each getRecentChats}}
		{{#if myChat}}
		<li class="chat-item">
			<div class="chatpartner">
				<a href="chat/{{recipient}}">{{recipient}}</a>
			</div>
			<div class="align-right">
				<div class="created_time">
					{{formattedDate created_at}}
				</div>
				<div class="my-chat">
					<div>
						<span>{{{msg}}}</span>
					</div>
				</div>
			</div>
		</li>
		{{else}}	
		<li class="chat-item">
			<div class="chatpartner">
				{{#if unread}}
					<strong><a href="chat/{{sender}}">{{sender}}</a></strong>
				{{else}}
					<a href="chat/{{sender}}">{{sender}}</a>
				{{/if}}
			</div>
			<div class="align-left">
				<div class="sender-chat">
					<div>
						<span>{{{msg}}}</span>
					</div>
				</div>
				<div class="created_time">
					{{formattedDate created_at}}
				</div>
			</div>
		</li>
		{{/if}}
	{{/each}}
	</ul>
</template>