<template name="chat">
	<div id="chatCont" class="container">
		<div  id="profileSection" class="col-sm-3">
			{{> chatprofile}}
		</div>
		<div id="chatSection"  class="col-sm-9">
			<div id="newChatLink">
				<a href="/chat">New chat</a>
			</div>
			<div id="userChatCont">
				{{#each userchats}}
					{{#if isEmptyChat msg}}
						<div class="align-center">
							<span class="date-ph">{{datePlaceholder created_at}}</span>
						</div>
					{{else}}
						{{#if isMyChat sender}}
							<div class="align-right">
								<div class="created_time">
									{{formattedDate created_at}}
								</div>
								<div class="my-chat">
									<div>
										<span>{{{msg}}}</span>
									</div>
								</div>
							</div>
						{{else}}
							<div class="align-left">
								<div class="sender-chat">
									<span>{{{msg}}}</span>
								</div>
								<div class="created_time">
									{{formattedDate created_at}}
								</div>
							</div>
						{{/if}}
					{{/if}}
					{{refreshChat}}
				{{/each}}
				<div id="partnerTyping" class="align-left {{isPartnerTyping}}">
					<div class="sender-chat">
						<span class="typing animated flash">...</span>
					</div>
				</div>
			</div>
			<div id="chatInputCont">
				<div class="input-group">
		      <input type="text" id="sendChatInput" class="form-control">
		      <span class="input-group-btn">
		        <button id="sendChatBtn" class="btn btn-default" type="button">Send</button>
		      </span>
		    </div>
			</div>
		</div>
	</div>
</template>