<template name="chat">
	<style>
		#userChatCont {
			height: 420px;
			overflow: auto;
		}

		.alignLeft {
			text-align: left;
		}
		.alignRight {
			text-align: right;
		}

		.created_time {
			font-size: 0.7em;
		}

		#chatInputCont {
			margin: 20px 0px;
		}
	</style>
	<div class="col-xs-12">
		<div id="userChatHeader">
			<h3>{{isPartnerTyping}}</h3>
		</div>
		<div id="userChatCont">
			{{#each userchats}}
				<div class="{{#if isMyChat sender}}alignLeft{{else}}alignRight{{/if}}">
					<span>
						{{#if isMyChat sender}}
							<span>You</span>
						{{else}}
							<strong>{{sender}}</strong>
						{{/if}}
					</span>: <span>{{msg}}</span>&nbsp;<span class="created_time" data-livestamp="{{created_at}}"></span>
				</div>
				{{refreshChat}}
			{{/each}}
		</div>
		<div id="chatInputCont">
			<div class="input-group input-group-lg">
	      <input type="text" id="sendChatInput" class="form-control">
	      <span class="input-group-btn">
	        <button id="sendChatBtn" class="btn btn-default" type="button">Send</button>
	      </span>
	    </div>
		</div>
	</div>
</template>